[submodule "att"]
	path = att_api
	url = https://github.com/espolPPLTeam/att.git
[submodule "login"]
	path = login_api
	url = https://github.com/espolPPLTeam/ppl_login.git
[submodule "api"]
	path = asssessment_api
	url = https://github.com/espolPPLTeam/ppl_assessment_api.git
[submodule "front_apps"]
	path = front_apps
	url = https://github.com/espolPPLTeam/front_apps.git
[submodule "ppl_app_lab"]
	path = ppl_app_lab
	url = https://github.com/razerjon24/ppl_app_lab.git
